body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

img {
  width: 50%;
  height: auto;
  margin: 40px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 48%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column p {
  margin-bottom: 20px;
}
